name: Step2 Checkout

on: 
  push:
    branches: ["main"]
  workflow_dispatch: 

jobs:
  checkout-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo 
        uses: actions/checkout@v4

      - name: Show Files
        run: |
          pwd
          ls -al 
