name: Step3 Secret

on: 
  workflow_dispatch: 

jobs:
  secret-test:
    runs-on: ubuntu-latest
    steps:
      - name: Show secret
        run: |
          echo "Secret is ${{secrets.MY_SECRET}}"
    
