name: TF PR Plan

on: 
  pull_request: 
    branches: ["main"]
    paths: 
      - "bootstrap/**"
      - "inta/**"
      - ".github/workflows/tf-pr-plan.yml"

permissions: 
  id-token: write
  contents: read
  pull-requests: read

concurrency: 
  group: tf-plan-${{github.event.pull_request.number}}
  cancel-in-progress: true

jobs: 
  plan: 
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: 
        workpath:
          - bootstrap
          - /infra/terraform/root

    defaults:
      run:
        working-directory: ${{matrix.workpath}}

    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: hashicorp/setup-terraform@v3
        with: 
          terraform_version: 1.6.6

      - name: Terraform Init
        env: 
          ARM_USE_OIDC: "true"
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}   
        run: |
          set -euo pipefail
          terraform init -input=false

      - name: Terraform Validate
        run: | 
          set -euo pipefail
          terraform validate

      - name: Terraform Plan
        run: |
          set -euo pipefail
          terraform plan -input=false
      